html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;

  background-color: aliceblue;
}

/* -- Composition -- */
.cafe {
  /* custom properties */
  --base-font: calc(1rem + 1vmin);

  --clr-awning: hsl(36, 91%, 57%);
  --clr-bg: hsl(0, 0%, 89%);
  --clr-brick: hsl(351, 83%, 77%);
  --clr-brick-dk: hsl(351, 61%, 64%);
  --clr-bush: hsl(159, 74%, 34%);
  --clr-bush-dk: hsl(159, 74%, 30%);
  --clr-bush-light: hsl(159, 74%, 44%);
  --clr-clouds: hsl(0, 0%, 100%);
  --clr-door: hsl(21, 50%, 66%);
  --clr-glass: hsl(199, 96%, 69%);
  --clr-glass-light: hsl(199, 96%, 78%);
  --clr-planter: hsl(18, 53%, 27%);
  --clr-tables: hsl(208, 46%, 63%);
  --clr-trim: #2e255e;
  --clr-wastebasket: hsl(250, 9%, 75%);
  --clr-windowsills: hsl(21, 50%, 56%);

  /* styling */
  position: relative;
  width: 50em;
  height: 23em;
  padding: 5vmin;

  /* prettier-ignore */
  background:   
    /* building */
    /* linear-gradient(
      var(--clr-brick), var(--clr-brick)) 12em 0.5em / 30em 27em, */
  
    /* street */
    linear-gradient(
      var(--clr-trim), var(--clr-trim)) 4em 22em / 41em 0.2em;

  background-repeat: no-repeat;

  font-size: calc(1rem + 1vmin);
  outline: 1px solid red;
}

@media (min-width: 200px) {
  .cafe {
    font-size: calc(0.25rem + 0.25vmin);
  }
}

@media (min-width: 600px) {
  .cafe {
    font-size: calc(0.5rem + 0.5vmin);
  }
}

@media (min-width: 900px) {
  .cafe {
    font-size: calc(0.75rem + 0.75vmin);
  }
}

@media (min-width: 1400px) {
  .cafe {
    font-size: calc(1rem + 1vmin);
  }
}
