html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;

  background-color: hsl(208, 100%, 95%);
}

/* -- Composition -- */
.cafe {
  /* custom properties */
  --base-font: calc(1rem + 1vmin);

  --clr-awning: hsl(36, 91%, 57%);
  --clr-bg: hsl(0, 0%, 89%);
  --clr-brick: hsl(351, 83%, 77%);
  --clr-brick-dk: hsl(351, 61%, 54%);
  --clr-brick-light: hsl(351, 83%, 85%);
  --clr-bush: hsl(159, 74%, 34%);
  --clr-bush-dk: hsl(159, 64%, 30%);
  --clr-bush-light: hsl(159, 74%, 44%);
  --clr-clouds: hsl(0, 0%, 100%);
  --clr-door: hsl(21, 50%, 56%);
  --clr-glass: hsl(199, 96%, 69%);
  --clr-glass-light: hsl(199, 96%, 78%);
  --clr-planter: hsl(18, 53%, 27%);
  --clr-planter-dk: hsl(18, 53%, 17%);
  --clr-shadow: hsl(0, 0%, 20%, 0.5);
  --clr-tables: hsl(208, 46%, 63%);
  --clr-trim: #2e255e;
  --clr-wastebasket: hsl(250, 9%, 85%);
  --clr-windowsills: hsl(21, 50%, 56%);

  /* styling */
  position: relative;
  width: 49em;
  height: 23em;
  padding: 5vmin;

  /* prettier-ignore */
  background:   
    /* clouds */
    radial-gradient(circle at bottom center,
      var(--clr-clouds) 50%, transparent 50%)
      11em 0.5em / 14em 4em,

    /* wastebasket */
    radial-gradient(at center top,
      var(--clr-trim) 50%, transparent 50%)
      38em 16.5em / 1.5em 1.8em,
    linear-gradient(to right,
      var(--clr-wastebasket),
      var(--clr-wastebasket) 0.5em,
      var(--clr-clouds) 0.5em,
      var(--clr-clouds) 2em,
      var(--clr-wastebasket) 2em,
      var(--clr-wastebasket))
      37.5em 16.5em / 2.5em 5.5em,

    /* dark bottom brick work */
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      28.4em 19.6em / 10em 2.4em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      9.8em 19.6em / 9.9em 2.4em,

    /* awning line at top of trim */
    linear-gradient(to right,
      var(--clr-trim),
      var(--clr-trim))
      9em 10em / 30em 0.1em,

    /* awning scallop trim */
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      8.5em 10em / 3.8em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      11.4em 10em / 2.7em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      13.3em 10em / 2.7em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      15.3em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      17.1em 10em / 2.7em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      19em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      20.9em 10em / 2.7em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      22.8em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      24.7em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      26.6em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      28.5em 10em / 2.7em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      30.4em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      32.3em 10em / 2.7em 2em,
    radial-gradient(at center top,
      var(--clr-awning) 50%, transparent 50%)
      34.2em 10em / 2.6em 2em,
    radial-gradient(at center top,
      var(--clr-clouds) 50%, transparent 50%)
      35.9em 10em / 3.6em 2em,

    /* awning - top stripes */
    repeating-linear-gradient(to right,
      var(--clr-clouds),
      var(--clr-clouds) 1.9em,
      var(--clr-awning) 1.9em,
      var(--clr-awning) 3.8em)
      9.9em 6.5em / 26.5em 3.5em,

    /* awning - right edge */
    linear-gradient(75deg,
      var(--clr-clouds) 75%,
      transparent 25%)
      34.5em 6.5em / 5em 3.5em,

    /* awning - left edge */
    linear-gradient(-75deg,
      var(--clr-clouds) 75%,
      transparent 25%)
      8.5em 6.5em / 5em 3.5em,

    /* window - door */
    linear-gradient(
      /* patch glass */
      var(--clr-door),var(--clr-door))
      27.025em 10em / 0.7em 8em,

      /* shine lines */
    linear-gradient(125deg,
        transparent 50%, 
        var(--clr-glass) 50%,
        var(--clr-glass) 55%,
        transparent 50%)
        24em 15em / 4em 4em,
    linear-gradient(125deg,
        transparent 50%, 
        var(--clr-glass) 50%,
        var(--clr-glass) 53%,
        transparent 50%)
        20.5em 11.2em / 8em 7.8em,
      /* main halves */
    linear-gradient(125deg,
      transparent 50%, var(--clr-glass-light) 50%)
      21em 11em / 6em 8em,

    linear-gradient(-55deg,
      transparent 50%, var(--clr-glass) 50%)
      21em 11em / 6em 8em,  

    /* door handle*/
    radial-gradient(
      var(--clr-trim) 90%,
      transparent 90%)
      20.2em 14.5em / 0.3em 2em,

    /* door */
    linear-gradient(
      var(--clr-door), var(--clr-door))
      19.7em 10em / 8.7em 12em,

    /* windowsills */
    linear-gradient( 
      var(--clr-door),
      var(--clr-door)) 
      30em 17em / 7em 1em,
    linear-gradient( 
      var(--clr-door),
      var(--clr-door)) 
      11em 17em / 7em 1em,

    /* table and chairs - right side */
      /* table */
    linear-gradient( 
      var(--clr-tables), var(--clr-tables))
      32em 16em / 3em 0.5em,
    linear-gradient(
      var(--clr-tables), var(--clr-tables))
      33em 16em / 1em 2em,
      /* right chair */
    radial-gradient(ellipse at bottom right,
      var(--clr-tables) 50%, transparent 40%)
      35.1em 14.6em / 0.7em 0.5em,
    linear-gradient(
      var(--clr-tables), var(--clr-tables))
      35.3em 15em / 0.5em 2em,  
      /* left chair */
    radial-gradient(ellipse at bottom left,
      var(--clr-tables) 50%, transparent 40%)
      31em 14.6em / 0.7em 0.5em,
    linear-gradient(
      var(--clr-tables), var(--clr-tables))
      31em 15em / 0.5em 2em,  
      
    /* table and chairs - left side */
      /* table */
    linear-gradient( 
      var(--clr-tables), var(--clr-tables))
      13em 16em / 3em 0.5em,
    linear-gradient(
      var(--clr-tables), var(--clr-tables))
      14em 16em / 1em 2em,
      /* right chair */
    radial-gradient(ellipse at bottom right,
      var(--clr-tables) 50%, transparent 40%)
      16.3em 14.6em / 0.7em 0.5em,
    linear-gradient(
        var(--clr-tables), var(--clr-tables))
        16.5em 15em / 0.5em 2em,
      /* left chair */  
    radial-gradient(ellipse at bottom left,
      var(--clr-tables) 50%, transparent 40%)
      12em 14.6em / 0.7em 0.5em,
    linear-gradient(
      var(--clr-tables), var(--clr-tables))
      12em 15em / 0.5em 2em,
    
    /* window - right */
    linear-gradient(
      /* patch glass */
      var(--clr-brick), var(--clr-brick))
      36.5em 12.2em / 0.2em 1em,
      /* shine lines */
    linear-gradient(125deg,
      transparent 50%, 
      var(--clr-glass) 50%,
      var(--clr-glass) 55%,
      transparent 50%)
      33em 13em / 4em 4em,
    linear-gradient(125deg,
      transparent 50%, 
      var(--clr-glass) 50%,
      var(--clr-glass) 53%,
      transparent 50%)
      30.4em 10em / 7.5em 7.5em,

      /* main halves */
    linear-gradient(125deg,
      transparent 50%, var(--clr-glass-light) 50%)
      30.5em 10em / 6em 8em,

    linear-gradient(-55deg,
      transparent 50%, var(--clr-glass) 50%)
      30.5em 10em / 6em 8em,  

    /* window - left */
    linear-gradient(
      /* patch glass */
      var(--clr-brick), var(--clr-brick))
      17.5em 12.2em / 0.2em 1em,

      /* shine lines */
    linear-gradient(125deg,
      transparent 50%, 
      var(--clr-glass) 50%,
      var(--clr-glass) 55%,
      transparent 50%)
      14em 13em / 4em 4em,
    linear-gradient(125deg,
      transparent 50%, 
      var(--clr-glass) 50%,
      var(--clr-glass) 53%,
      transparent 50%)
      11.3em 10em / 7.5em 7.5em,

      /* main halves */
    linear-gradient(125deg,
      transparent 50%, var(--clr-glass-light) 50%)
      11.5em 10em / 6em 8em,
    linear-gradient(-55deg,
      transparent 50%, var(--clr-glass) 50%)
      11.5em 10em / 6em 8em,

    /* Plant */
     /* large bush *
      /* branches */
    linear-gradient( -45deg,
      transparent 45%,
      var(--clr-trim) 45%,
      var(--clr-trim) 63%, 
      transparent 50%)
      7.6em 16.2em / 1em 0.7em,
    linear-gradient( -45deg,
      transparent 45%,
      var(--clr-trim) 45%,
      var(--clr-trim) 63%, 
      transparent 50%)
      6.8em 18.6em / 1em 0.9em,
    linear-gradient(
      var(--clr-trim), var(--clr-trim))
      7.5em 15.7em / 0.28em 3em,

      /* details */
    linear-gradient(60deg,
      transparent 25%, 
      var(--clr-bush-light) 25%, 
      var(--clr-bush-light) 35%, transparent 35%)
      7em 14.3em / 2.5em 0.5em,
    linear-gradient(60deg,
      transparent 25%, 
      var(--clr-bush-dk) 25%, 
      var(--clr-bush-dk) 35%, transparent 35%)
      6.7em 14.5em / 2.5em 0.5em,
    linear-gradient(60deg,
      transparent 25%, 
      var(--clr-bush-dk) 25%, 
      var(--clr-bush-dk) 35%, transparent 35%)
      6.2em 15em / 3em 0.5em,

    /* small bush */  
      /* branch */
    linear-gradient(
        var(--clr-trim), var(--clr-trim))
        5.95em 18.2em / 0.26em 0.4em,
    linear-gradient( 45deg,
      transparent 45%,
      var(--clr-trim) 45%,
      var(--clr-trim) 63%, 
      transparent 50%)
      5.9em 18.6em / 1em 0.9em,
      /* details */
    linear-gradient(60deg,
    transparent 25%, 
      var(--clr-bush-light) 25%, 
      var(--clr-bush-light) 35%, transparent 35%)
      5.3em 16em / 2.5em 0.5em,
    linear-gradient(60deg,
      transparent 25%, 
      var(--clr-bush-dk) 25%, 
      var(--clr-bush-dk) 35%, transparent 35%)
      5.3em 16.7em / 2.5em 0.5em,
      
    /* bushes */
    radial-gradient(ellipse at center,
      var(--clr-bush) 49.5%,
      transparent 50%)
      4.5em 14.5em / 3em 5em,
    radial-gradient(ellipse at center,
      hsl(0, 0%, 20%, 0.5) 35%,
      transparent 50%)
      4.7em 14.5em / 3em 4.5em,
    radial-gradient(ellipse at center,
      var(--clr-bush) 49.5%,
      transparent 50%)
      5.5em 13em / 4em 6em,

     /* stem */
     linear-gradient(
      var(--clr-trim), var(--clr-trim))
      6.8em 15.7em / 0.25em 4em,  

    /* planter */
      /* details */
    linear-gradient(
        var(--clr-planter-dk),
        var(--clr-planter-dk))
        7.5em 20em / 1em 0.5em,  
    linear-gradient(
        var(--clr-planter-dk),
        var(--clr-planter-dk))
        5.5em 20.6em / 1em 0.5em,
    linear-gradient(
        var(--clr-planter-dk),
        var(--clr-planter-dk))
        7.3em 21.2em / 1em 0.5em,
      /* pot */
    linear-gradient(-80deg, 
      transparent 63%, var(--clr-planter) 62%)
      7em 19.6em / 4.4em 2.4em,
    linear-gradient(80deg, 
      transparent 62%, var(--clr-planter) 63%)
      2.6em 19.6em / 4.4em 2.4em,

    /* building - bricks - right side */
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      35.5em 18.4em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      36.2em 19em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      28.5em 19em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      28em 17em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      30em 12em / 1em 0.5em,

    /* building - bricks - left side */
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      13.2em 18.8em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      12em 18.8em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      12.5em 18.2em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      18.9em 18.5em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      18.9em 13.5em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      18em 13em / 1em 0.5em,
    linear-gradient(
      var(--clr-brick-dk),
      var(--clr-brick-dk))
      10em 12em / 0.5em 0.5em,
    
    /* building */
    linear-gradient(
      var(--clr-brick-light),
      var(--clr-brick-light))
      10em 6em / 28em 0.2em,
    linear-gradient(
      var(--clr-brick), var(--clr-brick)) 
      10em 6em / 28em 16em,
  
    /* street */
    linear-gradient(
      var(--clr-trim), var(--clr-trim)) 
      4em 22em / 41em 0.2em;

  background-repeat: no-repeat;

  font-size: calc(1rem + 1vmin);
  outline: 1px solid red;
}

/* -- Media Queries -- */
@media (min-width: 200px) {
  .cafe {
    font-size: calc(0.25rem + 0.25vmin);
  }
}

@media (min-width: 600px) {
  .cafe {
    font-size: calc(0.5rem + 0.5vmin);
  }
}

@media (min-width: 900px) {
  .cafe {
    font-size: calc(0.75rem + 0.75vmin);
  }
}

@media (min-width: 1400px) {
  .cafe {
    font-size: calc(1rem + 1vmin);
  }
}
