/* -- Standard Resets -- */
html {
  box-sizing: border-box;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Composition */
.sg-rose {
  /* Custom properties */
  --bg: hsl(200, 60%, 47%);
  --bg-l: hsl(200, 83%, 66%);
  --bg-d: hsl(200, 56%, 40%);
  --frame: hsla(60, 43%, 33%, 0.7);
  --frame-l: hsla(60, 100%, 28%, 0.7);
  --frame-d: hsla(60, 50%, 29%, 0.7);
  --rose: hsl(0, 75%, 38%);
  --leading: hsl(200, 0%, 9%);
  --leaf: hsl(144, 61%, 51%);
  --stem: hsl(144, 49%, 42%);

  /* Image */
  /* prettier-ignore */
  background:   

    /* frame - bottom */
    linear-gradient(
      var(--leading),var(--leading))
      0.7em calc(100% - 0.5em) / 100% 0.2em,
    linear-gradient(
      var(--frame), var(--frame))
      0.7em 100% / 100% 0.5em,

    /* frame - right */
    linear-gradient(
      black, black)
      calc(100% - 0.5em) 0 /  0.2em calc(100% - 0.7em),
    linear-gradient(
      var(--frame-d), var(--frame-d))
      100% 0 / 0.5em calc(100% - 0.7em),

    /* frame - left */
    linear-gradient(
      var(--leading), var(--leading))
      0.5em 0.7em / 0.2em 100%,
    linear-gradient(
      var(--frame-d), var(--frame-d))
      0 0.7em / 0.5em  100%,

    /* frame - top */
    linear-gradient(
      var(--leading), var(--leading))
      0 0.5em / calc(100% - 0.5em) 0.2em,
    linear-gradient(
      var(--frame), var(--frame))
      0 0 / calc(100% - 0.5em) 0.5em,

    /* stem */
    linear-gradient(to right,
      var(--leading), var(--leading))
      calc(48% + 0.5em) calc(100% - 0.7em) / 0.2em 50%,
    linear-gradient(to right,
      var(--leading), var(--leading))
      calc(48% - 0.5em) calc(100% - 0.7em) / 0.2em 50%,
    linear-gradient(
      var(--stem), var(--stem))
      48% calc(100% - 0.7em) / 1em 50%,

    /* background glass */
    linear-gradient(
      var(--bg), var(--bg))
      100% 54% / 50% 8%,
    linear-gradient(
      transparent 0% 24%,
      var(--bg) 24% 51%,
      var(--bg-d) 51%
    );

  background-repeat: no-repeat;
  background-color: var(--bg-l);

  /* Basic Styling */
  position: relative;
  width: 18em;
  height: 24em;
  border: 0.2em solid var(--leading);

  font-size: calc(0.625rem + 1vmin);
}

.sg-rose * * {
  position: absolute;
}

.sg-rose .petal {
  top: 30%;
  width: 28%;
  height: 28%;

  border: 0.2em solid var(--leading);
  border-radius: 83% 17% 83% 17% / 100% 0% 100% 0%;

  background-color: var(--rose);
  transform: rotate(-10deg);
}

.sg-rose .front-petals .petal:first-of-type {
  /* front, right petal */
  left: 45%;
}

.sg-rose .front-petals .petal:last-of-type {
  /* front, left petal */
  left: 23.8%;
  transform: scale(1, -1) rotate(-10deg);
}

.sg-rose .back-petals .petal {
  top: 26%;
}
.sg-rose .back-petals .petal:first-of-type {
  /* left, back petal */
  left: 35%;
  transform: scaleY(-1) rotate(-10deg);
}

.sg-rose .back-petals .petal:last-of-type {
  /* right, back petal */
  left: 36%;
}

.sg-rose .leaf {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 14%;
  height: 14%;

  border: 0.2em solid var(--leading);
  border-radius: 83% 17% 83% 17% / 100% 0% 100% 0%;
  background-color: var(--leaf);
}

.sg-rose .leaf:last-of-type {
  top: 60%;
  left: 32%;
  transform: scale(1, -1);
}
