/* -- Standard Resets -- */
html {
  box-sizing: border-box;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;

  background-color: #d1ca9c;
}

/* Composition */
.sg-rose {
  /* Custom properties */
  --bg: hsl(200, 70%, 57%);
  --bg-l: hsl(200, 98%, 79%);
  --bg-d: hsl(200, 46%, 40%);

  --frame: hsl(60, 11%, 30%);
  --frame-l: hsl(60, 100%, 28%);
  --frame-d: hsl(60, 50%, 29%);

  --rose: hsl(0, 75%, 38%);
  --leading: hsl(200, 0%, 9%);
  --leaf: hsl(144, 61%, 51%);
  --stem: hsl(144, 49%, 42%);

  /* Image */
  /* prettier-ignore */
  background:   

    /* frame - bottom */
    linear-gradient(
      var(--leading),var(--leading))
      0.7em calc(100% - 0.5em) / 100% 0.2em,
    linear-gradient(
      var(--frame-l), var(--frame-l))
      0.7em 100% / 100% 0.5em,

    /* frame - right */
    linear-gradient(
      black, black)
      calc(100% - 0.5em) 0 /  0.2em calc(100% - 0.7em),
    linear-gradient(
      var(--frame-d), var(--frame-d))
      100% 0 / 0.5em calc(100% - 0.7em),

    /* frame - left */
    linear-gradient(
      var(--leading), var(--leading))
      0.5em 0.7em / 0.2em 100%,
    linear-gradient(
      var(--frame-d), var(--frame-d))
      0 0.7em / 0.5em  100%,

    /* frame - top */
    linear-gradient(
      var(--leading), var(--leading))
      0 0.5em / calc(100% - 0.5em) 0.2em,
    linear-gradient(
      var(--frame-l), var(--frame-l))
      0 0 / calc(100% - 0.5em) 0.5em,

    /* stem */
    linear-gradient(to right,
      var(--leading), var(--leading))
      calc(48% + 0.5em) calc(100% - 0.7em) / 0.2em 50%,
    linear-gradient(to right,
      var(--leading), var(--leading))
      calc(48% - 0.5em) calc(100% - 0.7em) / 0.2em 50%,
    linear-gradient(
      var(--stem), var(--stem))
      48% calc(100% - 0.7em) / 1em 50%,

    /* -- background glass -- */

    /* middle, right diagonal section */
    linear-gradient(
      65deg,
      transparent 49%,
      var(--leading) 49%,
      var(--leading) 51%,
      var(--bg-l) 50%)
      10.1em 7em / 9em 9.6em,

    /* middle, right patch */
    linear-gradient(
      to right,
      var(--bg), 
      var(--bg))
      9em 7em / 7em 7em,

    /* middle, left diagonal section */
    linear-gradient(
      -60deg,
      transparent 49%,
      var(--leading) 49%,
      var(--leading) 52%,
      var(--bg) 50%)
      0 45.5% / 28% 36%,

    /* leading - right petal to right side of frame */
    linear-gradient(
      to bottom,
      var(--leading),
      var(--leading))
      95% 29% / 30% 0.2em,

    /* top, lower leading from leading to inner petal */
    linear-gradient(
      to right,
      var(--leading),
      var(--leading))
      4.2em 5.8em / 2.8em 0.2em,
    
    /* top, patch under lower leading */
    linear-gradient(
      var(--bg), var(--bg))
      4.95em 6em / 2em 1.5em,

    /* top, right diagonal section */
    linear-gradient(
      -52deg,
      var(--bg-d) 49%,
      var(--leading) 49%,
      var(--leading) 51%,
      transparent 50%)
      96% -1em / 28% 39%,

    /* top - 5th section */
    linear-gradient(
      to right,
      var(--bg-l) calc(100% - 0.2em),
      var(--leading) calc(100% - 0.2em),
      var(--leading))
      67% 0 / 8.5% 31%,    

    /* top - 4th section */
    linear-gradient(
      to right,
      var(--bg) calc(100% - 0.2em),
      var(--leading) calc(100% - 0.2em),
      var(--leading))
      56.5% 0 / 11% 31%,

    /* top - 3rd section */
    linear-gradient(
      to right,
      var(--bg-d) calc(100% - 0.2em),
      var(--leading) calc(100% - 0.2em),
      var(--leading) )
      44% 0 / 11% 31%,

    /* top - 2nd section */
    linear-gradient(
      to right,
      var(--bg-l) 84%,
      var(--leading) 84%,
      var(--leading))
      31.8% 0 / 11.7% 31%,

    /* top-left rectangle - right leading */
    linear-gradient(
      to right,
      transparent calc(100% - 0.2em), 
      var(--leading) 0.2em)
      0 0.5em / 28% 29%,

    /* top-left rectangle - bottom leading */
    linear-gradient(
      to bottom,
      transparent 97%,
      var(--leading) 0.5em)
      0.5em 0 / 25% 29%,

    /* top-left rectangle - diagonal */
    linear-gradient(
      55deg,
      var(--bg-d) 49%,
      var(--leading) 49%,
      var(--leading) 51%,
      transparent 50%)
      0.5em -1em / 25% 40%,

     /* leading - middle left to leaf */
     linear-gradient(
      to bottom,
      var(--leading),
      var(--leading))
      0.5em 60.5% / 30% 0.2em,

     /* patch - under left leaf */
     linear-gradient(
      to right,
      var(--bg-d), var(--bg-d))
      40% 65% / 2em 2em,

    /* leading - right leaf to right side of frame */
    linear-gradient(
      to bottom,
      var(--leading),
      var(--leading))
      100% 70.5% / 37% 0.2em, 

    /* patch - under right leaf */
    linear-gradient(
      to right,
      var(--bg), var(--bg))
      57% 75% / 2em 2em,

    /* right hand middle section extension to leaf */
    linear-gradient(
      var(--bg), var(--bg))
      100% 66% / 50% 11%,

    /* 3 shades top to bottom */
    linear-gradient(
      transparent 0% 30%,
      var(--bg-d) 28% 60%,
      var(--bg) 60%
    );

  background-repeat: no-repeat;
  background-color: var(--bg);

  /* Basic Styling */
  position: relative;
  width: 18em;
  height: 24em;
  border: 0.2em solid var(--leading);

  font-size: calc(0.625rem + 1vmin);
}

.sg-rose * * {
  position: absolute;
}

.sg-rose .petal {
  top: 30%;
  width: 28%;
  height: 28%;

  border: 0.2em solid var(--leading);
  border-radius: 83% 17% 83% 17% / 100% 0% 100% 0%;

  background-color: var(--rose);
  transform: rotate(-10deg);
}

.sg-rose .front-petals .petal:first-of-type {
  /* front, right petal */
  left: 45%;
}

.sg-rose .front-petals .petal:last-of-type {
  /* front, left petal */
  left: 23.8%;
  transform: scale(1, -1) rotate(-10deg);
}

.sg-rose .back-petals .petal {
  top: 26%;
}
.sg-rose .back-petals .petal:first-of-type {
  /* left, back petal */
  left: 35%;
  transform: scaleY(-1) rotate(-10deg);
}

.sg-rose .back-petals .petal:last-of-type {
  /* right, back petal */
  left: 36%;
}

.sg-rose .leaf {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 14%;
  height: 14%;

  border: 0.2em solid var(--leading);
  border-radius: 83% 17% 83% 17% / 100% 0% 100% 0%;
  background-color: var(--leaf);
}

.sg-rose .leaf:last-of-type {
  top: 60%;
  left: 32%;
  transform: scale(1, -1);
}
