html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: skyblue;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5em;

  min-height: 100vh;

  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  padding: 5vmin;

  transition: all 2s ease-in;
}

/* -- Composition -- */
.cloud {
  /* palette */
  --base: white;
  --base-shadow: 0 1em 0.7em rgba(0, 0, 0, 0.1);

  /* styling */
  position: relative;
  min-width: 22em;
  min-height: 10em;

  border-radius: 50em;
  background-color: var(--base);
  box-shadow: var(--base-shadow);

  font-size: 1em;
}

.cloud::before {
  content: "";
  position: absolute;
  top: -3em;
  left: 4em;
  width: 7em;
  height: 7em;

  border-radius: 50%;
  background-color: var(--base);

  box-shadow: 5em -1em 0 2em var(--base);
}

/* Sunny cloud */
.cloud__sunny {
}

/* Stormy cloud */
.cloud__stormy {
}

/* Media Queries */
@media (min-width: 40em) {
  .wrapper {
    flex-direction: row;
  }
}
