/* -- Standard Resets -- */
:root {
  --bg: oldlace;
  /* --bg: black; */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* -- General Styling -- */
body {
  display: grid;
  place-items: center;
  margin: 0;

  background-color: var(--bg);
  min-height: 100vh;
}

/* -- Composition -- */

.pencil-green {
  /* font sizes */
  --fs-small: 0.75rem;
  --fs-medium: 1rem;
  --fs-large: 1.5rem;
  --fs-xlarge: 2.5rem;

  /* palette */
  --base: hsl(84, 96%, 30%);
  --tip: hsl(93, 48%, 50%);
  --wood: hsl(33, 100%, 78%);
  --base-dk: hsl(84, 42%, 40%);
  --base-grey: hsl(90, 1%, 75%);
  --hl: hsla(0, 0%, 100%, 0.2);

  /* image layers */
  --pencil: linear-gradient(
      to right,
      var(--wood),
      var(--base) 1%,
      15%,
      var(--base-grey) 30%,
      45%,
      hsla(90, 1%, 75%, 0) 75%
    )
    0% 0% / 40em 2em;

  --band: linear-gradient(to top, var(--base-grey), var(--base-grey)) 36em 100% /
    0.5em 2em;

  --highlight: linear-gradient(
    to bottom,
    transparent 0.7em,
    var(--hl) 0.8em,
    var(--hl) 1em,
    transparent 1.5em
  );

  /* style */
  position: relative;
  width: 40em;
  height: 2em;

  background: var(--highlight), var(--band), var(--pencil);
  background-repeat: no-repeat;

  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.1);

  font-size: calc(var(--fs-small) + 0.3vw);
  transform: rotate(-30deg);
  outline: 1px solid #aaa;
}

/* pencil tip */
.pencil-green::before {
  content: "";
  position: absolute;
  left: -6em;
  width: 6em;
  height: 2em;

  /* image layers
      reversed halves overwrite the wood shaving sections that 'stick' out
      and overlap the background
   */
  --top-half: linear-gradient(to bottom right, transparent 50%, var(--tip) 50%)
    50% 0 / 6em 1em;
  --top-reversed: linear-gradient(
      to bottom right,
      var(--bg) 50%,
      transparent 50%
    )
    50% 0 / 6em 1em;

  --bottom-half: linear-gradient(
      to left bottom,
      var(--tip) 50%,
      transparent 50%
    )
    100% 100% / 6em 1em;
  --bottom-reversed: linear-gradient(
      to left bottom,
      transparent 50%,
      var(--bg) 50%
    )
    100% 100% / 6em 1em;

  --wood-shaving: linear-gradient(to right, transparent 50%, var(--wood) 65%)
    50% 0 / 6em 2em;

  background: var(--highlight), var(--top-reversed), var(--bottom-reversed),
    var(--wood-shaving), var(--top-half), var(--bottom-half);
  background-repeat: no-repeat;
}

/* -- Media Queries -- */
@media (min-width: 40rem) {
  .house {
    font-size: var(--fs-medium);
  }
}

@media (min-width: 80rem) {
  .house {
    font-size: var(--fs-large);
  }
}

@media (min-width: 110rem) {
  .house {
    font-size: var(--fs-xlarge);
  }
}
