/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* -- General Styling -- */
body {
  display: grid;
  place-items: center;
  margin: 0;

  background-color: oldlace;
  min-height: 100vh;
}

/* -- Composition -- */

.pencil-green {
  /* font sizes */
  --fs-small: 0.75rem;
  --fs-medium: 1rem;
  --fs-large: 1.5rem;
  --fs-xlarge: 2.5rem;

  /* palette */
  --base: hsl(84, 96%, 30%);
  --tip: hsl(93, 48%, 50%);
  --wood: hsl(33, 100%, 78%);
  --base-dk: hsl(84, 42%, 40%);
  --base-grey: hsl(90, 1%, 75%);
  --hl: hsla(0, 0%, 100%, 0.2);

  /* image layers */
  --pencil: linear-gradient(
      to right,
      var(--wood),
      5%,
      var(--base) 10%,
      15%,
      var(--base-grey) 30%,
      45%,
      hsla(90, 1%, 75%, 0) 75%
    )
    0% 0% / 40em 2em;

  --band: linear-gradient(to top, var(--base-grey), var(--base-grey)) 36em 100% /
    0.5em 2em;

  --highlight: linear-gradient(
    to bottom,
    transparent 12px,
    var(--hl) 17px,
    var(--hl) 19px,
    transparent 24px
  );

  /* style */
  position: relative;
  width: 40em;
  height: 2em;

  background: var(--highlight), var(--band), var(--pencil);
  background-repeat: no-repeat;

  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.1);

  font-size: calc(var(--fs-small) + 0.3vw);
  transform: rotate(-30deg);
  outline: 1px solid #aaa;
}

/* pencil tip 
   TODO: look at using a clip-path to create the pencil tip 
         and figure out how to apply the highlight to the
         whole length of the pencil, tip included
 */
.pencil-green::before {
  content: "";
  position: absolute;
  left: -2.75em;
  top: 0.6em;
  height: 0.2em;

  border-right: 1.5em solid var(--tip);
  border-bottom: 0.4em solid transparent;
  border-top: 0.4em solid transparent;

  transform: scale(2.6);
}

.pencil-green::after {
  content: "";
  position: absolute;
  left: -1%;
  top: 0.05em;
  width: 2em;
  height: 1.95em;

  --shaving: linear-gradient(to right, var(--tip) 10%, var(--wood), var(--base)) -0.5em
    0.1em / 3em 1em;

  border-radius: 11% / 50%;
  background: var(--highlight), var(--shaving), var(--wood);
  background-clip: border-box;
}

/* -- Media Queries -- */
@media (min-width: 40rem) {
  .house {
    font-size: var(--fs-medium);
  }
}

@media (min-width: 80rem) {
  .house {
    font-size: var(--fs-large);
  }
}

@media (min-width: 110rem) {
  .house {
    font-size: var(--fs-xlarge);
  }
}
