html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(darkslateblue, ghostwhite);
  background-color: honeydew;
}

/* -- Composition -- */
.xmas-tree {
  /* palette */
  --clr-tree-bottom: hsl(120, 50%, 25%);
  --clr-tree-middle: hsl(120, 50%, 30%);
  --clr-tree-middle-2: hsl(120, 50%, 35%);
  --clr-tree-top-2: hsl(120, 50%, 40%);
  --clr-tree-top: hsl(120, 50%, 45%);
  --clr-trunk: hsl(0, 59%, 21%);
  --clr-star-bg: hsla(60, 90%, 82%, 0.8);
  --clr-ball-red: hsl(0, 100%, 50%);
  --clr-ball-blue: blue;
  --clr-ball-yellow: yellow;

  /* image layers */
  --star-bg: radial-gradient(
      circle at center center,
      var(--clr-star-bg) 49.5%,
      transparent 50%
    )
    top 2em center / 18em 18em;

  --tree-bottom: conic-gradient(
      from 45deg,
      transparent 25%,
      var(--clr-tree-bottom) 0% 50%,
      transparent 0% 75%,
      transparent 0%
    )
    50% 50% / 30em 30em;

  --tree-middle: conic-gradient(
      from 45deg,
      transparent 25%,
      var(--clr-tree-middle) 0% 50%,
      transparent 0% 75%,
      transparent 0%
    )
    50% 40% / 25em 25em;

  --tree-middle-2: conic-gradient(
      from 45deg,
      transparent 25%,
      var(--clr-tree-middle-2) 0% 50%,
      transparent 0% 75%,
      transparent 0%
    )
    50% 30% / 22em 22em;

  --tree-top-2: conic-gradient(
      from 45deg,
      transparent 25%,
      var(--clr-tree-top-2) 0% 50%,
      transparent 0% 75%,
      transparent 0%
    )
    50% 20% / 20em 20em;

  --tree-top: conic-gradient(
      from 45deg,
      transparent 25%,
      var(--clr-tree-top) 0% 50%,
      transparent 0% 75%,
      transparent 0%
    )
    50% 12% / 18em 18em;

  /* prettier-ignore */
  --tree-trunk: 
      linear-gradient(
        var(--clr-trunk) 50%,
        var(--clr-trunk) 100%) 
        50% 88% / 5em 5em;

  --ball-1: radial-gradient(
      circle at center center,
      var(--clr-ball-red) 49.5%,
      transparent 50%
    )
    15em 20em / 5em 5em;

  --ball-1-shine: radial-gradient(
      circle at center center,
      hsla(0, 0%, 100%, 0.8) 25%,
      25%,
      transparent 47%,
      transparent 50%
    )
    15.5em 19.5em / 5em 5em;

  /* styling */
  position: relative;
  width: 50em;
  height: 50em;

  /* prettier-ignore */
  background: 
    var(--ball-1-shine),
    var(--ball-1),
    var(--tree-top),
    var(--star-bg),
    var(--tree-top-2),
    var(--tree-middle-2),
    var(--tree-middle),
    var(--tree-bottom),
    var(--tree-trunk);

  background-repeat: no-repeat;

  font-size: calc(0.5rem + 0.5vmin);
}

/* -- Star -- */
.xmas-tree::before {
  content: "";
  position: absolute;
  top: 5.8em;
  left: 20em;
  width: 10em;
  height: 10em;

  background: radial-gradient(
    100% 100% at center,
    hsl(60, 100%, 50%) 10%,
    lightgoldenrodyellow 60%,
    lemonchiffon 80%
  );

  background-color: lemonchiffon;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
