/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Image used as drawing template 
   See Jhey Tompkins tutorial on Egghead
   https://egghead.io/courses/create-css-illustrations-b24c
 */
img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;

  background-color: oldlace;
}

/* Composition */
.skyline {
  /* Colour palette */
  --bldg1: black;
  --bldg2: hsl(187, 35%, 19%);
  --cloud-d: hsl(154, 16%, 68%);
  --cloud-l: hsl(40, 37%, 91%);
  --cloud-m: hsl(40, 20%, 83%);
  --sp1: hsl(349, 38%, 58%);
  --sp2: hsl(349, 46%, 62%);
  --sp3: hsl(349, 50%, 65%);
  --so1: hsl(32, 57%, 57%);
  --so2: hsl(36, 59%, 55%);
  --so3: hsl(46, 84%, 44%);
  --sun: hsl(51, 80%, 54%);
  --wy: hsl(56, 100%, 47%);
  --wg: hsl(189, 41%, 33%);

  /* prettier-ignore */
  background:   
    linear-gradient(to right,
      var(--bldg1), var(--bldg1))
      0 100% / 8.4% 14.6%,
    repeating-linear-gradient(to bottom,
      transparent 4.3%, 
      var(--bldg1) 4.3%, var(--bldg1) 8.3%, 
      transparent 8.3%,
      transparent 20%)
      0 85% / 8.4% 28.2%,
    linear-gradient(to right,
      var(--bldg1),var(--bldg1))
      0 58.6% / 8.4% 0.5%,
    linear-gradient(to right,
      var(--bldg1), var(--bldg1))
      0 100% / 7.4% 41.4%,
      /* lower bg buildings */
    linear-gradient(to right,
      var(--bldg2), var(--bldg2))
      50% 100% / 100% 3.5%,
    linear-gradient(to right,
      var(--bldg2), var(--bldg2))
      0 100% / 50% 4.1%,
   
    /* sky */
    linear-gradient(
      var(--sp1), var(--sp2),
      var(--so1), var(--so2),var(--so3));

  background-repeat: no-repeat;

  /* Basic styling */
  width: 100vw;
  height: 100vh;

  font-size: calc(0.5rem + 0.5vmin);
}
