/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Composition */
.skyline {
  /* Custom Properties*/
  --bldg: hsl(169, 15%, 10%);
  --bldg-bg: hsl(169, 15%, 15%);
  --cloud-d: hsl(169, 6%, 78%);
  --cloud-l: hsl(40, 37%, 91%);
  --cloud-m: hsl(40, 20%, 83%);
  --sp1: hsl(349, 38%, 58%);
  --sp2: hsl(349, 46%, 62%);
  --sp3: hsl(349, 50%, 65%);
  --so1: hsl(32, 57%, 57%);
  --so2: hsl(36, 59%, 55%);
  --so3: hsl(46, 84%, 44%);

  --sun: hsl(51, 80%, 54%);
  --w-y: hsl(56, 100%, 47%);
  --w-y-bg: hsl(56, 100%, 47%, 0.9);
  --w-g: hsl(169, 41%, 33%);

  /* window sizing (excpet bldg 7) */
  --ww: 1%;
  --ww-d: 2%; /* double */
  --ww-l: 6%; /* long */
  --wh: 2.8%;
  --wh-l: 1%;
  --wr: 2%; /* round */

  /* prettier-ignore */
  background:   

    /* Buildings (left to right) */
    /* 10 ------------------------------------------- */
      /* windows */
    linear-gradient(
      var(--w-y), var(--w-y))
      90.5% 67% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      93% 67% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      90.5% 72% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      93% 72% / var(--ww-d) var(--wh),
  
    linear-gradient(
      var(--w-y), var(--w-y))
      90.5% 80% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      93% 80% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      90.5% 85% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      93% 85% / var(--ww-d) var(--wh),
  
    linear-gradient(
      var(--w-y), var(--w-y))
      90.5% 90% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      93% 90% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      90.5% 95% / var(--ww-d) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      93% 95% / var(--ww-d) var(--wh),
  
     /* balconies */
      /* top stack */
    repeating-linear-gradient(to bottom,
      transparent 0%, 
      transparent 6%, 
      var(--bldg) 6%, var(--bldg) 10%,
      transparent 10%)
      95.5% 82% / 8.4% 22%,    
      /* bottom stack */
    repeating-linear-gradient(to bottom,
      transparent 0%, 
      transparent 6%, 
      var(--bldg) 6%, var(--bldg) 10%,
      transparent 10%)
      95.5% 112% / 8.4% 22%,   

      /* body */
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      100% 100% / 12% 35.8%,

    /* 9 ------------------------------------------- */
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y), var(--w-y))
      76.5% 61.3% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      78% 65.3% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      80% 65.3% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      76.5% 70% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      76.5% 74% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      78% 79% / var(--ww) var(--wh),

      /* roof line */
    linear-gradient(to right,
      var(--bldg),var(--bldg))
      84% 59% / 12% 1.6%,
      /* balconies */
    repeating-linear-gradient(to bottom,
      transparent 0%, 
      transparent 8%, 
      var(--bldg) 8%, var(--bldg) 16%,
      transparent 12%)
      81% 80.5% / 8.4% 25%,
      /* body */
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      85% 100% / 11% 42%,

    /* 8 short bg building ------------------------- */
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y-bg),var(--w-y-bg))
      88% 96% / 0.5% 9%,
      
      /* body */
    linear-gradient(to right,
      var(--bldg-bg),var(--bldg-bg))
      100% 86% / 27% 2%,
    linear-gradient(to right,
      var(--bldg-bg),var(--bldg-bg))
      100% 100% / 26.3% 14.4%,

    /* 7 (arena?) ---------------------------------- */
      /* windows (top to bottom) */
    linear-gradient(to right,
      var(--w-g), var(--w-g))
      65% 90% / 3% 0.5%,
    linear-gradient(to right,
      var(--w-g), var(--w-g))
      70.5% 88% / 6% 0.5%,
    linear-gradient(to right,
      var(--w-g), var(--w-g))
      54% 92% / 5% 0.5%,
    linear-gradient(to right,
      var(--w-g), var(--w-g))
      71% 92% / 5% 0.5%,
    linear-gradient(to right,
      var(--w-g), var(--w-g))
      60% 95% / 5% 0.5%,
    linear-gradient(to right,
      var(--w-g), var(--w-g))
      67% 97.5% / 2% 0.5%,
      /* vertical bars */
    repeating-linear-gradient(to right,
      var(--bldg),
      var(--bldg) 2%,
      transparent 2%,
      transparent 6%,
      var(--bldg) 5%)
      58.5% 99% / 14% 3%,
      /* horizontal lights */
    repeating-linear-gradient(
      transparent 0%,
      transparent 15%,
      var(--w-y) 15%, var(--w-y) 30%,
      transparent 30%)
      58% 99% / 15.6% 2.8%,

      /* body */
    radial-gradient(
      var(--bldg) 50%, transparent 50%)
      61% 93% / 19% 10%,
    linear-gradient(-10deg,
      var(--bldg) 70%, transparent 30%)
      68% 100% / 14% 19%,
    linear-gradient(10deg,
      var(--bldg) 70%, transparent 30%)
      57% 101% / 14% 19%,
    linear-gradient(
      var(--bldg),var(--bldg))
      55.5% 100% / 13% 13%,

    /* 6 ------------------------------------------- */
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y), var(--w-y))
      34.5% 59% / var(--ww-l) var(--wh-l),
    linear-gradient(
      var(--w-y), var(--w-y))
      34.5% 61% / var(--ww-l) var(--wh-l),
    linear-gradient(
      var(--w-y), var(--w-y))
      34.5% 63% / var(--ww-l) var(--wh-l),
    linear-gradient(
      var(--w-y), var(--w-y))
      34.5% 65% / var(--ww-l) var(--wh-l),
    linear-gradient(
      var(--w-y), var(--w-y))
      39% 79% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      45% 79% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      39% 83% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      41% 83% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      41% 87% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      43% 87% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      45% 87% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      39% 95% / var(--ww) var(--wh),
      
      /* body */
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      36.7% 54% / 7.5% 1%,
    linear-gradient(to right,
      var(--bldg),var(--bldg))
      36.4% 100% / 9.5% 44.8%,
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      38% 100% / 13.2% 24.6%,

    /* 5 - short bg bldg --------------------------- */  
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y-bg), var(--w-y-bg))
      31.7% 89% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y-bg), var(--w-y-bg))
      31.7% 93% / var(--ww) var(--wh),
  
      /* body */
    linear-gradient(to right,
      var(--bldg-bg), var(--bldg-bg))
      37% 100% / 16.4% 14.4%,

    /* 4 ------------------------------------------- */
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y), var(--w-y))
      25.5% 64% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      27.5% 64% / var(--ww) var(--wh),   
    linear-gradient(
      var(--w-y), var(--w-y))
      24% 72% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      27% 72% / var(--ww) var(--wh),      
    linear-gradient(
      var(--w-y), var(--w-y))
      24% 77% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      27% 82% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      29% 82% / var(--ww) var(--wh),
  
      /* body */
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      25% 100% / 8% 40%,

    /* 3 ------------------------------------------- */
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y), var(--w-y))
      15% 66% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      17% 71% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      16% 79% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      18% 79% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      20% 85% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      17% 89% / var(--ww) var(--wh),
        

      /* body */
    linear-gradient(to right,
      var(--bldg),var(--bldg))
      15% 100% / 8% 37%,

    /* 2 - short/wide bg building */
      /* windows (top to bottom) */
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        10.5% 86% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        12.3% 86% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        10.5% 90% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        12.3% 90% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        10.5% 94% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        12.3% 94% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        10.5% 98% / var(--wr) var(--wr),
      radial-gradient(circle at center center,
        var(--w-y-bg) 49.5%, transparent 50%)
        12.3% 98% / var(--wr) var(--wr),

      /* body */
    linear-gradient(to right,
      var(--bldg-bg), var(--bldg-bg))
      12% 100% / 18.4% 17.2%,

    /* 1 ------------------------------------------- */
      /* windows (top to bottom) */
    linear-gradient(
      var(--w-y), var(--w-y))
      6% 61% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      2% 65% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      4% 65% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      6% 70% / var(--ww) var(--wh),
    linear-gradient(
        var(--w-y), var(--w-y))
        6% 75% / var(--ww) var(--wh),
    linear-gradient(
      var(--w-y), var(--w-y))
      4% 80% / var(--ww) var(--wh),
        
      /* obtruding bottom */
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      0 100% / 8.4% 14.6%,
      /* balconies */
    repeating-linear-gradient(to bottom,
      transparent 4.3%, 
      var(--bldg) 4.3%, var(--bldg) 12.3%, 
      transparent 12.3%,
      transparent 20%)
      0 85% / 8.4% 28.2%,
      /* roof line */
    linear-gradient(to right,
      var(--bldg),var(--bldg))
      0 58.6% / 8.4% 1%,
      /* body */
    linear-gradient(to right,
      var(--bldg), var(--bldg))
      0 100% / 7.4% 41.4%,

    /* lower bg buildings ----------------------------- */
    linear-gradient(to right,
      var(--bldg-bg), var(--bldg-bg))
      50% 100% / 100% 3.5%,
    linear-gradient(to right,
      var(--bldg-bg), var(--bldg-bg))
      0 100% / 50% 4.1%,
   
    /* Sky ------------------------------------------- */

    /* clouds */
   
    /* large, left cloud */
    radial-gradient(ellipse at 10% 90%,
      var(--cloud-d) 50%, transparent 50%)
      0 13rem / 40rem 5rem,
    radial-gradient(ellipse at center,
      var(--cloud-l) 50%, transparent 50%)
      3rem 7rem / 15rem 10rem,
    radial-gradient(circle at center,
      var(--cloud-l) 50%, transparent 50%)
     -2rem 5rem / 12rem 12rem,
    radial-gradient(ellipse at 10% 90%,
      var(--cloud-l) 50%, transparent 50%)
      0 8rem / 40rem 10rem,

    /* sun */
    radial-gradient(circle at center,
      var(--sun) 49.5%, transparent 50%)
      66% 80% / 15vmin 15vmin,

    /* backdrop */
    
    linear-gradient(
      var(--sp1), var(--sp2), var(--sp3),
      var(--so1), var(--so2),var(--so3));

  background-repeat: no-repeat;

  /* Basic styling */
  position: relative;
  width: 100vw;
  height: 100vh;

  /* Don't mess with vmin font-size when using
     100vw/100vh for page sizing, really messes
     up positioning when viewport size changes */

  /* font-size: calc(0.5rem + 0.5vmin) */
  font-size: 0.5rem;
}
