/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Image used as drawing template 
   See Jhey Tompkins tutorial on Egghead
   https://egghead.io/courses/create-css-illustrations-b24c
 */
img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: oldlace;
}

/* Composition */
.beaver {
  /* palette */
  --clr-body: hsl(17, 81%, 33%);
  --clr-grid: hsl(17, 30%, 10%);
  --clr-nose: black;
  --clr-patches: hsl(14, 98%, 67%);
  --clr-tail: hsl(17, 41%, 30%);
  --clr-teeth: white;

  /* styling */
  position: relative;
  width: 37em;
  height: 31em;

  /* responsive to font size and viewport */
  font-size: calc(0.5rem + 0.5vmin);
}

.beaver * {
  position: absolute;
}

.beaver *::before,
.beaver *::after {
  content: "";
  position: absolute;
}

/* Tail */
.beaver .tail {
  position: absolute;

  /* x-hatch spacing */
  --grid-spacer: 2em;
  --grid-increment: 0.1em;

  /* image layers */
  --line-horiz: repeating-linear-gradient(
    45deg,
    transparent,
    transparent var(--grid-spacer),
    var(--clr-grid) var(--grid-spacer),
    var(--clr-grid) calc(var(--grid-spacer) + var(--grid-increment))
  );

  --line-vertical: repeating-linear-gradient(
    90deg,
    transparent,
    transparent var(--grid-spacer),
    var(--clr-grid) var(--grid-spacer),
    var(--clr-grid) calc(var(--grid-spacer) + var(--grid-increment))
  );

  /* styling */
  top: 20%;
  left: 13%;
  width: 14em;
  height: 25em;

  /* shape tail */
  border-radius: 10em;
  border-bottom-left-radius: 7em 25em;
  border-bottom-right-radius: 7em 25em;

  /* add x-hatch pattern to tail */
  background: var(--line-horiz), var(--line-vertical);

  background-color: var(--clr-tail);
  transform: rotate(-50deg);
}

/* -- Head -- */
.beaver .head {
  /* image layers */
  /* prettier-ignore */
  --eye-left: radial-gradient(
      circle at 6.9em 9.2em,
      white 0.4em,
      transparent 0.4em
    ),
    radial-gradient(
      circle at 6.6em 9.2em, 
      #333 0.9em, 
      transparent 0.9em
    ),
    radial-gradient(
      circle at 6.5em 9.2em, 
      white 1.4em, 
      transparent 1.4em
    );

  /* prettier-ignore */
  --eye-right: radial-gradient(
    circle at 15em 9.2em,
    white 0.4em,
    transparent 0.4em
  ),
  radial-gradient(
    circle at 14.9em 9.2em, 
    #333 0.9em, 
    transparent 0.9em
  ),
  radial-gradient(
    circle at 14.8em 9.2em, 
    white 1.4em, 
    transparent 1.4em
  );

  /* prettier-ignore */
  --cheek-left:
    radial-gradient(
      ellipse at 5.2em 12.6em,
      var(--clr-patches) 1.2em,
      transparent 1.2em);

  /* prettier-ignore */
  --cheek-right:
   radial-gradient(
     ellipse at 16.5em 12.6em,
     var(--clr-patches) 1.2em,
     transparent 1.2em);

  /* styling */
  top: 1.5em;
  left: 13.2em;
  width: 21em;
  height: 19em;

  border-top-left-radius: 12em;
  border-top-right-radius: 12em;
  border-bottom-left-radius: 10em 8em;
  border-bottom-right-radius: 10em 8em;

  /* prettier-ignore */
  background-image: 
    var(--cheek-right),
    var(--cheek-left),
    var(--eye-right), 
    var(--eye-left);

  background-color: var(--clr-body);
}

/* ears */
.beaver .ears {
  top: 1em;
  left: -0.8em;
  width: 30%;
  height: 30%;

  border-radius: 50%;
  background-color: var(--clr-body);

  /* right ear */
  box-shadow: 16em 0.3em 0 0 var(--clr-body);
}

/* inner ear - right */
.beaver .ears::before {
  top: 1.2em;
  left: 18.3em;
  width: 50%;
  height: 40%;

  border-radius: 50% 50% 0 0;
  background-color: var(--clr-patches);

  transform: rotate(45deg);
}

/* inner ear - left */
.beaver .ears::after {
  top: 1.5em;
  left: 1.2em;
  width: 50%;
  height: 40%;

  border-radius: 50% 50% 0 0;
  background-color: var(--clr-patches);

  /* hair */
  /* prettier-ignore */
  box-shadow: 
    11em 5em 0 -0.3em var(--clr-body),
    11.8em 5.9em 0 -0.4em var(--clr-body),
    12em 7em 0 -0.6em var(--clr-body);

  transform: rotate(-45deg);
}

/* nose */
.beaver .nose {
  top: 11em;
  left: 9em;
  width: 20%;
  height: 10%;

  border-radius: 50%;

  /* prettier-ignore */
  background: 
    radial-gradient(
      ellipse at 65% 40%, white 20%, transparent 30%);

  background-color: var(--clr-nose);
}

/* mouth */
.beaver .mouth {
  top: 14em;
  left: 8em;
  width: 30%;
  height: 15%;

  border-radius: 0.6em 0.6em 9em 9em;
  background-color: var(--clr-nose);
}

/* teeth */
.beaver .mouth::before {
  left: 15%;
  width: 2em;
  height: 3.5em;

  border-radius: 0 0 1em 1em;
  background-color: var(--clr-teeth);

  /* right tooth */
  box-shadow: 2.1em 0 0 0 var(--clr-teeth);
}

/* -- Body -- */
.beaver .body {
  bottom: 5%;
  left: 45%;
  width: 14em;
  height: 10em;

  border-top-left-radius: 10em;
  border-top-right-radius: 10em;

  background-color: var(--clr-body);
}

/* stomach */
.beaver .stomach {
  top: 3em;
  left: 4.7em;
  width: 5em;
  height: 7em;

  border-radius: 50% 50% 42% 45%;
  background-color: var(--clr-patches);
}

/* left hand */
.beaver .stomach::before {
  top: 1em;
  left: -1em;
  width: 2em;
  height: 4em;

  border-radius: 50%;
  background-color: var(--clr-body);

  transform: rotate(-30deg);
}

/* right hand */
.beaver .stomach::after {
  top: 0.5em;
  left: 4.5em;
  width: 2em;
  height: 4em;

  border-radius: 50%;
  background-color: var(--clr-body);

  transform: rotate(30deg);
}

/* legs */
.beaver .body::before {
  bottom: 0;
  left: -1.5em;
  width: 17em;
  height: 6em;

  border-radius: 70% 70% 45% 45%;
  background-color: var(--clr-body);
}

/* feet */
.beaver .body::after {
  bottom: -1.5em;
  left: -2em;
  width: 9em;
  height: 2em;

  /* tl tr br bl */
  border-radius: 5em 2em 8em 2em / 1rem;

  box-shadow: 8.9em 0 0 0 var(--clr-body);
  background-color: var(--clr-body);
}
