/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Image used as drawing template 
   See Jhey Tompkins tutorial on Egghead
   https://egghead.io/courses/create-css-illustrations-b24c
 */
img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: ivory;
}

/* Composition */
.tiger {
  /* palette */
  --clr-body: hsl(19, 88%, 55%);
  --clr-patches: hsl(21, 98%, 79%);
  --clr-stripes: hsl(22, 74%, 25%);
  --clr-tongue: hsl(351, 79%, 50%);
  --clr-teeth: white;

  /* styling */
  position: relative;
  width: 25em;
  height: 25em;

  font-size: calc(0.5rem + 0.5vmin);
  overflow: hidden;
  opacity: 0.5;
}

.tiger * {
  position: absolute;
}

.tiger *::before,
.tiger *::after {
  content: "";
  position: absolute;
}

/* -- Body -- */
.tiger .body {
  top: 15em;
  left: 6em;
  width: 12.5em;
  height: 18em;

  border-radius: 100%;

  background-color: var(--clr-body);
  overflow: hidden;
}

/* stomach */
.tiger .body::before {
  left: 3em;
  width: 50%;
  height: 75%;

  border-radius: 100%;
  background-color: var(--clr-patches);
}

/* stripes */
.tiger .body-stripes {
  top: 4em;
  left: -0.2em;
  width: 3em;
  height: 0.5em;

  border-radius: 100%;
  background-color: var(--clr-stripes);

  /* prettier-ignore */
  box-shadow: 
    /* right side */
    10.6em 4em 0 0 var(--clr-stripes),
    10.4em 2em 0 0 var(--clr-stripes),
    10em 0  0 0 var(--clr-stripes), 
    /* left side */
    -0.7em 4em 0 0 var(--clr-stripes),
    -0.6em 2em 0 0 var(--clr-stripes);
}

/* ears */
.tiger .ears {
  /* shapes the inner left ear */
  top: 2.5em;
  left: 2.5em;
  width: 4em;
  height: 4em;

  border-radius: 50%;
  background-color: var(--clr-patches);

  /* prettier-ignore */
  box-shadow:
    /* right ear */
    15em 0 0 0 var(--clr-patches),
    16.2em -0.5em 0 1.2em var(--clr-body),
    15em 0 0 1.8em var(--clr-body),
    /* outer left ear */
   -1.2em -0.5em  0 1.2em var(--clr-body),
    0 0 0 1.8em var(--clr-body);

  z-index: -1;
}

/* -- Head -- */
.tiger .head {
  top: 0.5em;
  left: 4em;
  width: 16.5em;
  height: 17em;

  border-radius: 35% 35% 50% 50% / 55% 55% 50% 50%;

  background-color: var(--clr-body);
  overflow: hidden;
}

.tiger .head-stripes-top {
  top: -1em;
  left: 7.4em;
  width: 1.5em;
  height: 4em;

  border-radius: 50%;
  background-color: var(--clr-stripes);

  /* prettier-ignore */
  box-shadow: 
     2em -0.5em 0 -0.3em var(--clr-stripes),
    -2em -0.5em 0 -0.3em var(--clr-stripes);
}

.tiger .head-stripes-left {
  top: 8em;
  left: -0.7em;
  width: 2.5em;
  height: 0.7em;

  border-radius: 100%;
  background-color: var(--clr-stripes);

  /* prettier-ignore */
  box-shadow:  
    -1em 3em 0 0 var(--clr-stripes),
    -1.5em 1.5em 0 0 var(--clr-stripes);

  transform: rotate(-30deg);
}

.tiger .head-stripes-right {
  top: 8em;
  left: 14.5em;
  width: 2.5em;
  height: 0.7em;

  border-radius: 100%;
  background-color: var(--clr-stripes);

  /* prettier-ignore */
  box-shadow:  
    1.3em 3em 0 0 var(--clr-stripes),
    1.5em 1.5em 0 0 var(--clr-stripes);

  transform: rotate(30deg);
}

/* jowels, mouth, and nose */
.tiger .jowels {
  top: 5.6em;
  left: 2.8em;
  width: 11em;
  height: 11em;
  border-radius: 50%;

  background-color: var(--clr-patches);
  overflow: hidden;
}

.tiger .jowels::before {
  /* nose and open mouth */
  top: -1em;
  left: 2em;
  width: 6.5em;
  height: 12em;

  border-radius: 100%;
  background-color: var(--clr-stripes);
}

.tiger .jowels::after {
  /* define the nose and top of mouth */
  top: 0.4em;
  left: 1.8em;
  width: 3.5em;
  height: 3em;
  border-radius: 50%;

  background-color: var(--clr-patches);
  box-shadow: 3.6em 0 0 0 var(--clr-patches);
}

.tiger .tongue {
  left: 2.4em;
  top: 5.7em;
  width: 5.8em;
  height: 5em;

  border-radius: 50% 49% 52% 48% / 10% 11% 88% 89%;
  background-color: var(--clr-tongue);
}

.tiger .tooth.top-left {
  /* teeth pointing down */
  top: -3.5em;
  width: 2em;
  height: 2em;

  /* prettier-ignore */
  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-top: 4vmin solid var(--clr-teeth);
}

.tiger .tooth.top-right {
  /* teeth pointing down */
  top: -3.5em;
  left: 3.5em;
  width: 2em;
  height: 2em;

  /* prettier-ignore */
  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-top: 4vmin solid var(--clr-teeth);
}

.tiger .tooth.bottom-left {
  bottom: -1em;
  left: 1em;
  width: 2em;
  height: 2em;

  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-bottom: 4vmin solid var(--clr-teeth);
}

.tiger .tooth.bottom-right {
  bottom: -1em;
  left: 2.5em;
  width: 2em;
  height: 2em;

  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-bottom: 4vmin solid var(--clr-teeth);
}
