/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Image used as reference 
   See Jhey Tompkins tutorial on Egghead
   https://egghead.io/courses/create-css-illustrations-b24c
 */
img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: hsl(195, 50%, 90%);
}

/* Composition */
.tweety{
  /* palette */
  --clr-body: hsl(60, 100%, 50%);
  --clr-eyes: hsl(208, 47%, 65%);
  --clr-beak: hsl(41, 100%, 49%);
  --clr-pupils: hsl(0, 0%, 0%);
  --clr-whites: hsl(0, 0%, 100%);

  /* styling */
  position: relative;
  width: 14em;
  height: 17em;


  /* prettier-ignore */
  background:  
    /* right eye lashes */
    radial-gradient(ellipse farthest-side at -10% -300%, 
    transparent 0% 90%, var(--clr-pupils) 91%, transparent 91.5%)
    8.5em 7em / 3em 5em,
    
    radial-gradient(ellipse farthest-side at -10% -300%, 
    transparent 0% 90%, var(--clr-pupils) 91%, transparent 91.5%)
    9.2em 7em / 3em 5em,

    radial-gradient(ellipse farthest-side at -10% -300%, 
    transparent 0% 90%, var(--clr-pupils) 91%, transparent 91.5%)
    9.3em 8.4em / 3em 4em,

    /* left eye lashes */
     radial-gradient(ellipse farthest-side at 100% -300%, 
     transparent 0% 90%, var(--clr-pupils) 91%, transparent 91.5%)
     1.8em 7.3em / 3em 5em,

     radial-gradient(ellipse farthest-side at 100% -300%, 
     transparent 0% 90%, var(--clr-pupils) 91%, transparent 91.5%)
     1.1em 7em / 3em 5em,

     radial-gradient(ellipse farthest-side at 100% -300%, 
     transparent 0% 90%, var(--clr-pupils) 91%, transparent 91.5%)
     0.7em 8em / 3em 4em,

    /* hairs */
    radial-gradient(ellipse farthest-corner at 30% 250%, 
    transparent 0% 79%, var(--clr-pupils) 81%, transparent 80.5%)
    5.8em 1.8em / 2em 2em,

    radial-gradient(ellipse farthest-corner at 30% 250%, 
    transparent 0% 79%, var(--clr-pupils) 79.5%, transparent 80%)
    3.3em -0.4em / 4em 4em,

    radial-gradient(ellipse farthest-corner at 30% 250%, 
    transparent 0% 79%, var(--clr-pupils) 79.5%, transparent 80%)
    2em -1em / 5em 5em,

    /* beak */
    radial-gradient(at center center, 
      var(--clr-beak) 25%,
      transparent 25%) 
      3.5em 13.35em / 6em 2em,

    radial-gradient(at center center, 
      var(--clr-beak) 25%,
      var(--clr-pupils) 25%, var(--clr-pupils) 26.5%,
      transparent 27%) 
      3.5em 13.4em / 6em 2em,

    radial-gradient(at center center, 
      var(--clr-beak) 25%,
      var(--clr-pupils) 25%, var(--clr-pupils) 26.5%,
      transparent 27%) 
      4em 13.6em / 5em 2em, 

    /* right cheek */
    radial-gradient(at 50% 50%,
    var(--clr-body) 50%, transparent 50%)
    5.4em 13.1em / 6em 3.5em,

    /* left cheek */
    radial-gradient(at 50% 50%,
      var(--clr-body) 50%, transparent 50%)
      2em 13.1em / 6em 3.5em,

    /* head */
    radial-gradient(at center center, 
      var(--clr-body) 49.5%,    transparent 50%)
      -1.3em 1.5em / 16em 14em,

    /* head shape middle */
    linear-gradient(to right, var(--clr-body), var(--clr-body))
      3.6em 12em / 6em 3em,

    /* head shape left */
    linear-gradient(-118deg, var(--clr-body) 50%, transparent 50%) 
        1.1em 7.6em / 2.7em 9em,

    /* head  shape right */
    linear-gradient(118deg, var(--clr-body) 49.5%, transparent 50%)
        9.6em 7.6em / 2.8em 9em,

    /* neck */
    conic-gradient(
      from 45deg,
      transparent 25%,
      var(--clr-body) 0% 50%,
      transparent 0% 75%,
      transparent 0%
    )
    6.1em 13.5em / 1.3em 3em,

    /* shoulders */
    radial-gradient(at center center,
      var(--clr-body) 49.5%, transparent 50%)
      5.5em 16em / 2.5em 1.5em;
   
  background-repeat: no-repeat;
  
  font-size: calc(0.75rem + 0.75vmin);
}

/* eyes */
.tweety::before,
.tweety::after{
  /* left eye styled first */
  content: "";
  position: absolute;
  top: 9.5em;
  left: 3.5em;
  width: 1.9em;
  height: 4.6em;

  /* prettier-ignore */
  background: 
    radial-gradient(at center center, 
        var(--clr-pupils) 50%, 
        transparent 50%) 
        0.25em 2em / 70% 70%,

    radial-gradient(at center center, 
      var(--clr-eyes) 50%, var(--clr-pupils) 50%, 
      var(--clr-pupils) 52%, transparent 52%) 
      -0.4em 0.9em / 150% 100% ;

  background-repeat: no-repeat;

  border: 0.2vmin solid var(--clr-pupils);
  border-radius: 50%;
  background-color: var(--clr-whites);

  transform: rotate(-15deg);

}

/* right eye */
.tweety::after{
  left: 7.6em;
  width: 1.8em;

  transform: rotate(13deg);
}