/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Image used as reference 
   See Jhey Tompkins tutorial on Egghead
   https://egghead.io/courses/create-css-illustrations-b24c
 */
img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: hsl(195, 50%, 90%);
}

/* Composition */
.tweety{
  /* palette */
  --clr-body: hsl(60, 100%, 50%);
  --clr-eyes: hsl(208, 47%, 65%);
  --clr-beak: hsl(41, 100%, 49%);
  --clr-pupils: hsl(0, 0%, 0%);
  --clr-whites: hsl(0, 0%, 100%);

  /* image layers */
  --head: radial-gradient(at center center, 
  var(--clr-body) 50%,    transparent 51.5%)
  -0.7em 1.8em / 15em 14em;

  /* prettier-ignore */
  --head-shape-left:  
    linear-gradient(-118deg, var(--clr-body) 50%, 
    transparent 50%) 
    1.6em 9.4em / 2.8em 6.3em;

  /* prettier-ignore */
  --head-shape-right: linear-gradient(118deg, var(--clr-body) 49.5%, transparent 50%)
  9.2em 7.5em / 2.8em 10em;

  /* styling */
  position: relative;
  width: 14em;
  height: 17em;

  

  /* prettier-ignore */
  background:  
    /* right cheek */
    radial-gradient(at 50% 50%,
    var(--clr-body) 50%, transparent 50%)
    5.4em 13.1em / 6em 3.5em,

    /* left cheek */
    radial-gradient(at 50% 50%,
      var(--clr-body) 50%, transparent 50%)
      2em 13.1em / 6em 3.5em,

    /* head */
    radial-gradient(at center center, 
      var(--clr-body) 50%,    transparent 51.5%)
      -1.3em 1.5em / 16em 14em,

    /* head shape middle */
    linear-gradient(to right, var(--clr-body), var(--clr-body))
      3.6em 12em / 6em 3em,

    /* head shape left */
    linear-gradient(-118deg, var(--clr-body) 50%, transparent 50%) 
        1.1em 7.6em / 2.7em 9em,

    /* head  shape right */
    linear-gradient(118deg, var(--clr-body) 49.5%, transparent 50%)
        9.6em 7.6em / 2.8em 9em;

   

  background-repeat: no-repeat;
  background-color: pink;

  font-size: calc(0.75rem + 0.75vmin);
 
  opacity: 0.5;
}