/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: whitesmoke;
}

/* Composition */
.ruler{
  /* palette */
  --clr-bg: hsl(39, 77%, 83%);
  --clr-border: hsl(39, 77%,33%);

  /* styling */
  position: relative;
  width: 19.2em;
  height: 5em;

  border: 0.1em solid var(--clr-border);
  border-radius: 0.2em;

  /* prettier-ignore */
  background: 
    /* inch ticks */
    linear-gradient(transparent 35%, var(--clr-bg) 35%),
    repeating-linear-gradient(
      to right, transparent,
      transparent 1.5em,
      var(--clr-border) 1.5em,
      var(--clr-border) 1.6em,
      transparent 1.6em),
      
    /* quarter ticks */
    linear-gradient(transparent 20%, var(--clr-bg) 20%),
    repeating-linear-gradient(to right, transparent,
      transparent 0.75em,
     var(--clr-border) 0.75em,
     var(--clr-border) 0.8em,
      transparent 0.8em);
    
  background-color: var(--clr-bg);
  background-repeat: no-repeat;

  font-size: calc(0.75rem + 0.75vmin);
}

.ruler::before{
  content: "inches";
  position: absolute;
  top: 33%;

  font-variant-caps: small-caps;
}