/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: #eeeeee;
}

/* Composition */
.frankie {
  /* palette */
  --clr-hair: #262220;
  --clr-skin-dark: hsl(49, 50%, 26%);
  --clr-skin-dark2: hsl(66, 34%, 24%);
  --clr-skin-light: hsl(56, 20%, 53%);
  --clr-skin: hsl(66, 34%, 34%);
  --clr-shirt: #2d3234;

  /* styling */
  position: relative;
  width: 18em;
  height: 27em;

  /* prettier-ignore */
  background:      
     /* ears */
     radial-gradient(at center left,
      var(--clr-shirt) 50%,
      transparent 50%)
      15.1em 8.3em / 2em 6em,
    radial-gradient(at center left,
      var(--clr-skin) 50%,
      transparent 50%)
      15em 8em / 3em 7em,
    radial-gradient(at center right,
      var(--clr-shirt) 50%,
      transparent 50%)
      1em 8.3em / 2em 6em,  
    radial-gradient(at center right,
      var(--clr-skin) 50%,
      transparent 50%)
      0em 8em / 3em 7em,
    /* neck */
    linear-gradient(75deg, 
      var(--clr-skin-dark),
      var(--clr-skin) 80%, 
      transparent 15%)
      66% 74% / 6em 4em,
    linear-gradient(-75deg, 
      var(--clr-skin-dark),
      var(--clr-skin) 80%, transparent 15%)
      36% 74% / 6em 4em,
    /* shoulders */
    radial-gradient(var(--clr-shirt) 80%, transparent 20%)
      100% 110% / 100% 8em;

  background-repeat: no-repeat;

  font-size: calc(0.75rem + 0.75vmin);
  outline: 1px solid red;
}

/* head */
.frankie::before {
  content: "";
  position: absolute;
  left: 2.5em;
  width: 13em;
  height: 18em;

  border-radius: 10% 10% 20% 20%;

  /* prettier-ignore */
  background:  
    /* chin */
    radial-gradient(
        at center bottom,
        transparent 25%,
        var(--clr-shirt) 25%,
        var(--clr-shirt) 27%,
        transparent 27%
      )
      2em 14em / 9em 1.5em,
    /* mouth */
    radial-gradient(ellipse at center bottom,
      var(--clr-shirt) 49.5%, transparent 50%)
      2.5em 12.5em / 8em 1.2em,
    /* eyelids */
    linear-gradient(-165deg,
      var(--clr-skin-dark2) 25%,
      transparent 25%)
      7.2em 6.7em / 25% 20%, 
    linear-gradient(165deg,
      var(--clr-skin-dark2) 25%,
      transparent 25%)
      2.2em 6.7em / 25% 20%, 
    /* eyes */
    radial-gradient(ellipse at center top,
    var(--clr-hair) 49.5%, transparent 50%)
    4em 7em / .6em .6em,
    radial-gradient(ellipse at center top,
    var(--clr-hair) 49.5%, transparent 50%)
    8.2em 7em / .6em .6em,
    radial-gradient(ellipse at center top,
    var(--clr-skin-dark) 49.5%, transparent 50%)
    3.5em 7em / 1.5em 1em,
    radial-gradient(ellipse at center top,
      var(--clr-skin-dark) 49.5%, transparent 50%)
      7.8em 7em / 1.5em 1em,
    radial-gradient(ellipse at center top,
      white 49.5%, transparent 50%)
      2em 7em / 4em 1em,
    radial-gradient(ellipse at center top,
      white 49.5%, transparent 50%)
      7em 7em / 4em 1em,
    /* nostrils */
    radial-gradient(at center, 
     var(--clr-shirt) 50%, 
     transparent)
     6.8em 10.1em / 1.2em 1em,
    radial-gradient(at center, 
      var(--clr-shirt) 50%, 
      transparent)
       5.3em 10.1em / 1.2em 1em,
     /* nose */
    linear-gradient(-55deg,
      var(--clr-skin-dark) 25%,
      transparent 25%)
      4em -1em / 20% 12em,
    linear-gradient(55deg,
      var(--clr-skin-dark2) 25%,
      transparent 25%)
      6.4em -1em / 20% 12em,
    /* hair - strands */
    linear-gradient(120deg,
      var(--clr-hair) 25%,
      transparent 25%)
      9em 1em / 5% 50%,
    linear-gradient(120deg,
      var(--clr-hair) 25%,
      transparent 25%)
      5em 1em / 25% 50%,
    linear-gradient(110deg,
      var(--clr-hair) 25%,
      transparent 25%)
      8em 1.2em /10% 50%,
    linear-gradient(-110deg,
      var(--clr-hair) 25%,
      transparent 25%)
      2.8em 1em / 10% 50%,
    /* scar */
    linear-gradient(10deg,
      transparent 25%,
      var(--clr-shirt) 25%,
      var(--clr-shirt) 30%,
      transparent 30%)
    9.3em 10em / 1.5em 2em,
    linear-gradient(10deg,
      transparent 25%,
      var(--clr-shirt) 25%,
      var(--clr-shirt) 30%,
      transparent 30%)
      9.3em 9em / 1.5em 2em,
    linear-gradient(10deg,
      transparent 25%,
      var(--clr-shirt) 25%,
      var(--clr-shirt) 30%,
      transparent 30%)
      9.8em 8em / 1.5em 2em,
    linear-gradient(110deg,
      transparent 25%,
      var(--clr-shirt) 25%,
      var(--clr-skin-dark2) 27%,
      transparent 27%)
      9.5em 8.5em / 3em 7em,

    /* hair - sides */
    linear-gradient(-110deg,
      var(--clr-hair)25%,
      transparent 25%)
      2.8em 0 / 80% 60%,
    linear-gradient(110deg,
      var(--clr-hair)25%,
      transparent 25%)
      0 0 / 80% 60%,
    /* hair - top of head */
    linear-gradient(var(--clr-hair), 
      var(--clr-hair))
      0 0 / 100% 10%;

  background-repeat: no-repeat;
  background-color: var(--clr-skin);
}
