/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling for display only -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: #eeeeee;
}

/* Composition */
.frankie {
  /* palette */
  --clr-hair: #262220;
  --clr-skin-dark: hsl(49, 50%, 26%);
  --clr-skin-light: hsl(56, 20%, 53%);
  --clr-skin: hsl(66, 34%, 34%);
  --clr-shirt: #2d3234;

  /* styling */
  position: relative;
  width: 18em;
  height: 27em;

  /* prettier-ignore */
  background:   
    /* head */

    /* neck */
    linear-gradient(to right,
      transparent,
      var(--clr-skin-dark),
      var(--clr-skin),
      var(--clr-skin-light),
      var(--clr-skin),
      transparent)
      48.3% 74% / 7em 3.5em,
    linear-gradient(75deg, 
      var(--clr-skin-dark),
      var(--clr-skin) 80%, 
      transparent 15%)
      66% 74% / 6em 4em,
    linear-gradient(-75deg, 
      var(--clr-skin-dark),
      
      var(--clr-skin) 80%, transparent 15%)
      36% 74% / 6em 4em,
    /* shoulders */
    radial-gradient(var(--clr-shirt) 80%, transparent 20%)
      100% 110% / 100% 8em;

  background-repeat: no-repeat;

  font-size: calc(0.75rem + 0.75vmin);
  outline: 1px solid red;
}
