html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: ghostwhite;
}

/* Composition */
.elephant {
  /* palette */
  --body-clr: hsl(214, 41%, 78%);
  --body-shadow: hsl(214, 41%, 68%);
  --border-clr: hsl(214, 41%, 48%);
  --bg-clr: ghostwhite;
  --eyes: black;

  /* styling */
  position: relative;
  width: 37em;
  height: 38em;

  border-bottom: 1vmin solid darkgreen;

  font-size: calc(0.5rem + 0.5vmin);

  overflow: hidden;
  opacity: 0.5;
}

.elephant * {
  position: absolute;

  border-radius: 50%;
  border: 1vmin solid var(--border-clr);

  background-color: var(--body-clr);
}

/* -- Body -- */
.elephant .body {
  left: 15%;
  bottom: 1%;
  width: 70%;
  height: 70%;

  z-index: -1;
}

/* -- Head -- */
.elephant .head {
  left: 24%;
  top: 7%;
  width: 53%;
  height: 53%;
}

/* ears */
.elephant .head .ear {
  width: 70%;
  height: 90%;

  z-index: -1;
}

.elephant .head .ear.ear-left {
  left: -50%;
}

.elephant .head .ear.ear-right {
  right: -50%;
}

/* eyes */
.elephant .head::before {
  content: "";
  position: absolute;
  left: 17%;
  top: 33%;
  width: 2.8em;
  height: 2.8em;

  border-radius: 50%;
  background-color: var(--eyes);

  /* right eye */
  box-shadow: 9em 0 0 0 var(--eyes);
}

/* pupils */
.elephant .head::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 20%;
  width: 1em;
  height: 1em;

  border-radius: 50%;
  background-color: var(--bg-clr);

  /* right pupil */
  box-shadow: 9em 0 0 0 var(--bg-clr);
}

/* -- Feet -- */
.elephant .foot {
  bottom: -7%;
  width: 24%;
  height: 24%;
}

.elephant .foot.foot-left {
  left: 24%;
}

.elephant .foot.foot-right {
  left: 51%;
}

/* toes */
.elephant .foot .toe {
  bottom: 10%;
  width: 33.3%;
  height: 33.3%;

  border-width: 0.5vmin;
  background-color: var(--bg-clr);
}

.elephant .foot .toe:nth-of-type(2) {
  bottom: 10%;
  left: 33.3%;
  width: 33.3%;
  height: 33.3%;

  border-width: 0.5vmin;
  background-color: var(--bg-clr);
}

.elephant .foot .toe:last-of-type {
  bottom: 10%;
  left: 66.6%;
  width: 33.3%;
  height: 33.3%;

  border-width: 0.5vmin;
  background-color: var(--bg-clr);
}
