html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: ghostwhite;
}

/* Composition */
.elephant {
  /* palette */
  --body-clr: hsl(214, 41%, 78%);
  --body-shadow: hsl(214, 41%, 68%);
  --border-clr: hsl(214, 41%, 48%);
  --bg-clr: ghostwhite;

  /* styling */
  position: relative;
  width: 37em;
  height: 38em;

  font-size: calc(0.5rem + 0.5vmin);

  background-color: pink;
  opacity: 0.2;
}

.elephant .body {
  position: absolute;
  left: 50%;
  bottom: 1%;
  width: 70%;
  height: 70%;

  border-radius: 50%;
  border: 1vmin solid var(--border-clr);

  background-color: var(--body-clr);
  transform: translateX(-50%);
}
