/* -- Standard Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

/* -- General Styling -- */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;

  background-color: ghostwhite;
}

/* Composition */
.beaver {
  /* palette */
  --clr-body: hsl(17, 81%, 33%);
  --clr-patches: hsl(14, 98%, 67%);
  --clr-tail: hsl(17, 41%, 30%);
  --clr-nose: black;
  --clr-teeth: white;
  --clr-grid: hsl(17, 30%, 10%);

  /* styling */
  position: relative;
  width: 37em;
  height: 31em;

  font-size: calc(0.5rem + 0.5vmin);
}

.beaver * {
  position: absolute;
}

.beaver *::before,
.beaver *::after {
  content: "";
  position: absolute;
}

/* Tail */
.beaver .tail {
  /* x-lines spacing */
  --grid-spacer: 2em;
  --grid-increment: 0.1em;

  /* image layers */
  --line-horiz: repeating-linear-gradient(
    45deg,
    transparent,
    transparent var(--grid-spacer),
    var(--clr-grid) var(--grid-spacer),
    var(--clr-grid) calc(var(--grid-spacer) + var(--grid-increment))
  );

  --line-vertical: repeating-linear-gradient(
    90deg,
    transparent,
    transparent var(--grid-spacer),
    var(--clr-grid) var(--grid-spacer),
    var(--clr-grid) calc(var(--grid-spacer) + var(--grid-increment))
  );

  /* styling */
  top: 20%;
  left: 13%;
  width: 14em;
  height: 25em;

  /* shape tail */
  border-radius: 10em;
  border-bottom-left-radius: 7em 25em;
  border-bottom-right-radius: 7em 25em;

  /* add x-hatch pattern to tail */
  background: var(--line-horiz), var(--line-vertical);

  background-color: var(--clr-tail);
  transform: rotate(-50deg);
}

/* -- Body -- */
.beaver .body {
  bottom: 5%;
  left: 45%;
  width: 14em;
  height: 10em;

  border-top-left-radius: 10em;
  border-top-right-radius: 10em;

  background-color: var(--clr-body);
}

/* stomach */
.beaver .stomach {
  top: 3em;
  left: 4.7em;
  width: 5em;
  height: 7em;

  border-radius: 50% 50% 42% 45%;
  background-color: var(--clr-patches);
}

/* left hand */
.beaver .stomach::before {
  top: 1em;
  left: -1em;
  width: 2em;
  height: 4em;

  border-radius: 50%;
  background-color: var(--clr-body);

  transform: rotate(-30deg);
}

/* right hand */
.beaver .stomach::after {
  top: 0.5em;
  left: 4.5em;
  width: 2em;
  height: 4em;

  border-radius: 50%;
  background-color: var(--clr-body);

  transform: rotate(30deg);
}

/* legs */
.beaver .body::before {
  bottom: 0;
  left: -1.5em;
  width: 17em;
  height: 6em;

  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;

  background-color: var(--clr-body);
}

/* feet */
.beaver .body::after {
  bottom: -1.5em;
  left: -2em;
  width: 9em;
  height: 2em;

  /* tl tr br bl */
  border-radius: 5em 2em 8em 2em / 1rem;

  box-shadow: 8.9em 0 0 0 var(--clr-body);
  background-color: var(--clr-body);
}

img {
  opacity: 0.4;
}
.beaver {
  opacity: 0.4;
}
